language: r
before_install:
- openssl aes-256-cbc -K $encrypted_5e6beae96b20_key -iv $encrypted_5e6beae96b20_iv
  -in tests/testthat/token_file.rds.enc -out tests/testthat/token_file.rds -d
- curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
- chmod 755 ./travis-tool.sh
- ./travis-tool.sh bootstrap
install:
- ./travis-tool.sh install_deps
script: ./travis-tool.sh run_tests
after_failure:
- ./travis-tool.sh dump_logs
env:
- NOT_CRAN="true"
- WARNINGS_ARE_ERRORS=1
notifications:
  email:
    on_success: change
    on_failure: change
